<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/test_main.css">
    <title>Notes</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="centre">Header</div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="aside">
        <div class="centre">Aside</div>
    </div>
    <div class="content">
        <div class="centre">
            <form action="/main" method="post">
                <input id="id" type="text" placeholder="note text" name="body">
                <input type="submit" value="submit">
            </form>
            <div>
                <ol>
                        <li th:each="prod : ${notes}">

                                <form action="/main/id" th:action="@{'/main/'+${prod.id}}" method="post">
                                    <label for="note">
                                        <a th:href="@{'/main/'+${prod.id}}"  th:text="${prod.body}"></a>
                                    </label>
                                    <input type="submit" value="delete" id="note">
                                </form>
                        </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="centre">Footer</div>
    </div>
</div>
</body>