<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign in</title>
</head>
<body>
<div th:if="${param.error}">
    <b><font color="red"> Username and password should have min. 3 letters.</font></b>
</div>
<p>Give your name and password</p>
<form action="#" th:action="@{/signIn}" th:object="${userModel}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type="password" th:field="*{confPassword}" /></td>
            <td th:if="${#fields.hasErrors('confPassword')}" th:errors="*{confPassword}">ConfPassword Error</td>
        </tr>
        <tr>
            <td><button type="submit">Sign in</button></td>
        </tr>
    </table>
</form>
</body>
</html>