<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/test_main.css">
    <title>Wrong_id</title>
</head>

<body>
<div class="container">
    <div class="header">
        <div class="centre">Header</div>
    </div>
    <div class="aside">
        <div class="centre">Aside</div>
    </div>
    <div class="content">
        <div class="centre">
            <form action="/main" method="post">
                <input id="id" type="text" placeholder="imię" name="body">
                <input type="submit" value="submit">
            </form>
            <div>
                <p>Nie ma takiej notatki!</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="centre">Footer</div>
    </div>
</div>
</body>